* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(../img/01_header/top.png), url(../img/01_header/back-center.png);
    background-attachment: scroll, scroll;
    background-position: top center, top;
    background-repeat: no-repeat, repeat;
}

.header {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;
}

.trigger {
    display: none;
}

.nav {
    color: #ffffff;
    line-height: 9px;
    font-size: 10.5px;
    margin-top: -6px;
    margin-right: -9px;
}

.nav-ul {
    display: flex;
    list-style: none;
}

.nav-li {
    margin-left: 29px;
}

.nav-a {
    text-decoration: none;
    color: #ffffff;
}

.block-01-all {
    width: 1070px;
    margin: 0 auto;
    display: flex;
}

.wrapper-block-01 {
    position: relative;
    display: flex;
}

.block-01-left {
    width: 50%;
    word-wrap: break-word;
}

.block-01-left-inner h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 86px;
    line-height: 66px;
    color: #ffffff;
    margin-top: 263px;
    margin-bottom: 13px;
}

.block-01-left-inner h2 {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 54px;
    line-height: 39px;
    color: #ffffff;
    margin-bottom: 32px;
}

.block-01-left-inner-sep {
    width: 74px;
    height: 6px;
    border-radius: 3px;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.block-01-left-inner p {
    font-size: 16px;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 338px;
    margin-right: 10px;
}

.block-01-middle {
    padding: 18px 20px;
    text-align: center;
    margin-top: 790px;
    width: 59px;
    height: 59px;
    margin-left: 0px;
    background-color: #ffffff;
    transform: rotate(45deg);
    transform-origin: 0 0;
}

.fa-chevron-down {
    transform: rotate(-45deg);
    font-size: 24px;
}

.block-01-middle-a {
    text-decoration: none;
    color: #000000;
}

.block-01-middle .fas {
}

.block-01-middle:hover {
    cursor: pointer;
}

.block-01-right-ul {
    margin-top: 375px;
}

.block-01-right-li {
    list-style: none;
    color: #ffffff;
    font-size: 8px;
    line-height: 8px;
    margin-bottom: 7px;
    vertical-align: center;
}

.block-01-right-li:hover {
    cursor: pointer;
    color: #f16522;
}

.wrapper-block-02 {
    background: linear-gradient(to right, #f8f8f8 50%, #ffffff 50%);
}

.block-02 {
    width: 1170px;
    margin: 0 auto;
}

.block-02-clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(115deg, #f8f8f8 18%, #ffffff 18%);
}

.block-02-clients-header {
    width: 23%;
}

.block-02-clients-header h2 {
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    line-height: 18px;
    margin-bottom: 6px;
    margin-top: 35px;
}

.block-02-clients-header-more {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 10px;
    color: #f16522;
    margin-bottom: 31px;
}

.block-02-clients-logos {
    justify-content: space-between;
    width: 80%;
}

.block-02-clients-logos-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.block-02-clients-logos-list li {
    list-style: none;
    opacity: 0.4;
}

.block-02-clients-logos-list img {
    width: 90%;
    height: auto;
    margin: 0 5px;
}

.wrapper-block-03 {
    position: relative;
    background-color: #f8f8f8;
    border-top: 1px solid #E7EAED;
    border-bottom: 1px solid #E7EAED;
}

.hello-left {
    margin-left: -331px;
    margin-bottom: -5px;
    margin-top: 19px;
}

.block-03-hello {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.block-03-inset-left {
    width: 50%;
}

.block-03-inset-right {
    width: 50%;
    padding-left: 15px;
}

.block-03-hello-header h2 {
    font-family: 'Dosis', sans-serif;
    color: #3d3d3d;
    font-size: 50px;
    line-height: 38px;
    margin-bottom: 18px;
    margin-top: 152px;
}

.block-03-hello-header h3 {
    color: #3d3d3d;
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 33px;
}

.block-03-hello-sep {
    width: 35px;
    height: 5px;
    background-color: #F16522;
    margin-bottom: 20px;
}

.block-03-hello-text p {
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}

.block-03-hello-text {
    margin-bottom: 40px;
}

.block-03-hello-more {
    width: 230px;
    height: 55px;
    background-color: #363636;
    text-align: center;
    padding: 7px;
    border-radius: 2px;
    letter-spacing: 2.4px;
}

.block-03-hello-more a {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
    display: block;
}

.wrapper-block-04 {
    background-color: #ffffff;
}

.block-04-experience {
    width: 1170px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
}

.block-04-experience-text {
    width: 50%;
    padding-right: 60px;
}

.block-04-experience-header h2 {
    font-family: 'Dosis', sans-serif;
    color: #3d3d3d;
    font-size: 50px;
    line-height: 38px;
    margin-bottom: 18px;
    margin-top: 95px;
}

.block-04-experience-header h3 {
    color: #3d3d3d;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 21px;
}

.block-04-experience-sep {
    width: 35px;
    height: 5px;
    background-color: #F16522;
    margin-bottom: 21px;
}

.block-04-experience-inset {
    margin-bottom: 40px;
}

.block-04-experience-inset p {
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 10px;
}

.block-04-experience-more {
    width: 213px;
    height: 55px;
    background-color: #363636;
    text-align: center;
    padding: 7px;
    border-radius: 2px;
    margin-bottom: 97px;
    letter-spacing: 1px;
}

.block-04-experience-more a {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
    display: block;
}

.block-04-experience-thumbs {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block-04-thumb {
    width: 50%;
    border: 1px solid #f8f8f8;
    text-align: center;
    padding-bottom: 75px;
}

.fa-tv,
.fa-lock,
.fa-paper-plane,
.fa-sliders-h {
    font-size: 56px;
    color: #f16522;
    margin-top: 108px;
    margin-bottom: 48px;
}


.block-04-thumb-name p {
    font-family: 'Dosis', sans-serif;
    color: #3d3d3d;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
}

.block-04-thumb:hover {
    cursor: pointer;
    background-color: #f16522;
}

.block-04-thumb:hover p {
    color: #ffffff;
}

.block-04-thumb:hover i {
    color: #ffffff;
}

.wrapper-block-05 {
    position: relative;
    background-color: #28282E;
}

.block-05-recent-content {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 107px;
}

.block-05-recent-head h2 {
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 30px;
}

.block-05-recent-sep {
    width: 35px;
    margin: 0 auto;
    height: 5px;
    background-color: #F16522;
    margin-bottom: 20px;
}

.block-05-recent-head p {
    color: #878796;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 118px;
}

.block-05-recent-body {
    display: flex;
    justify-content: space-between;
}

.block-05-recent-body-left {
    width: 50%;
    margin-bottom: -4px;
}

.block-05-recent-body-right {
    width: 50%;
    text-align: left;
    padding-top: 10px;
    padding-left: 14px;
}

.block-05-recent-body-right h3 {
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 29px;
}

.block-05-recent-body-right-head p {
    color: #878796;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.block-05-recent-body-right-head {
    border-bottom: 1px dashed #878796;
    padding-bottom: 36px;
    margin-bottom: 22px;
}

.block-05-recent-img {
    margin-left: -427px;
}

.our-information {
    display: flex;
    color: #878796;
    font-size: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.our-information .p1 {
    width: 20%;
    margin-bottom: 24px;
}

.our-information .p2 {
    margin-left: 8px;
    margin-bottom: 24px;
}

.our-information .p3 {
    width: 60%;
    margin-left: 10px;
    margin-bottom: 24px;
}

.our-information-a {
    text-decoration: none;
    color: #f16522;    
}

.wrapper-block-06 {
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: #222227;
}

.block-06-content {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.block-06-top {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

.block-06-top-item-01,
.block-06-top-item-02 {
    padding: 97px 0;
    text-align: center;
    background-color: #28282e;
    width: 100%;
    margin: 0 12px;
}

.block-06-top-item-03 {
    background-color: #ffffff;
    color: #878796;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    padding: 37px 0 0;
    margin: 0 12px;
}

.block-06-top-item-03 img {
    margin-bottom: 19px;
}

.block-06-top-item-03 p {
    margin-bottom: 30px;
    color: #878796;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.block-06-top-item-03-a {
    text-decoration: none;
    display: inline-block;
    color: #f16522;
    color: #f16522;
    line-height: 16px;
}

.block-06-slider {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.slider-06 {
    border: 1px dashed #42424a;
    margin: 0 9px;
    padding: 15px 0;
    width: 55px;
    height: 55px;
    font-size: 22px;
    color: #28282e;
    line-height: 10px
}

.slider-06-center {
    background-color: #000000;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 12px;
    padding: 20px 12px;
    width: 131px;
    letter-spacing: 2px;
}

.slider-06:hover {
    cursor: pointer;
}

.wrapper-block-07 {
    background-color: #ffffff;
}

.block-07-content {
    width: 1170px;
    margin: 0 auto;
}

.block-07-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 150px;
    padding-bottom: 71px;
}

.block-07-content-header {
    width: 50%;
    margin-right: -15px;
}

.block-07-content-header h2 {
    color: #3d3d3d;
    font-family: 'Dosis', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 12px;
}

.block-07-content-header h3 {
    color: #3d3d3d;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 20px;
}

.block-07-content-sep {
    width: 35px;
    height: 5px;
    background-color: #F16522;
    margin-bottom: 25px;
}

.block-07-content-header p {
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.block-07-content-item,
.block-07-content-item-all {
    position: relative;
    text-align: center;
    border: 1px solid #e7eaed;
    width: 270px;  
    margin-bottom: 30px;
    padding-top: 62px;
    padding-bottom: 37px;
    z-index: 2;
}

.block-07-content-item-selected {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #f3f3f3;
    width: 92%;
    height: 150px;
    opacity: 0;
    transition: opacity 1s;
    z-index: -1;
}

.block-07-content-item:hover {
    cursor: pointer;
}

.block-07-content-item:hover .block-07-content-item-selected{
    cursor: pointer;
    opacity: 0.8;
}

.block-07-content-item i {
    font-size: 38px;
    line-height: 28px;
    color: #b3b3b3;
    margin-bottom: 27px;
}

.block-07-content-item-name {
    color: #3d3d3d;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
}

.block-07-content-item-a {
    display: block;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    width: 140px;
    height: 55px;   
    margin: 0 auto;
    text-align: center;
    padding: 17px;
    text-decoration: none;
    background-color: #f16522;
    border-radius: 2px;
    transition: transform 1s;
    margin-top: -5px;
    letter-spacing: 1px;
}

.block-07-content-item-a:hover {
    transform: scale(1.1);
}

.wrapper-block-08 {
    background-color: #f1f1f1;
}

.block-08-content {
    padding-top: 132px;
    padding-bottom: 120px;
    width: 1170px;
    margin: 0 auto;
    display: flex;
}

.bock-08-body-left-img {
    margin-left: -167px;
}

.bock-08-body-right {
    width: 50%;
    margin-left: 10px;
}

.bock-08-body-right-header h2 {
    font-family: 'Dosis', sans-serif;     
    font-size: 50px;
    color: #3d3d3d;
    font-weight: 700;
    line-height: 40px;
    margin-top: 83px;
    margin-bottom: 16px;
}

.bock-08-body-right-header h3 {
    font-family: 'Dosis', sans-serif;     
    font-size: 30px;
    color: #3d3d3d;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 18px;
}

.block-08-header-sep {   
    width: 35px;
    height: 6px;
    background-color: #f16522;
    margin-bottom: 20px;
}

.bock-08-body-right-body {    
    color: #3d3d3d;    
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 50px;
}

.bock-08-body-right-body p {
    margin-bottom: 9px;
}

.bock-08-body-right-bottom {
    display: flex; 
    justify-content: flex-start;
}

.bock-08-body-right-bottom-more a {
    text-decoration: none;
    color: #ffffff;   
    display: inline-block;
    line-height: 56px;
    width: 141px;
}

.bock-08-body-right-bottom-more {
    margin-right: 29px;
    width: 141px;
    height: 55px;
    background-color: #363636;
    text-align: center;
    border-radius: 2px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 10px;   
    letter-spacing: 2px;
}

.bock-08-body-right-bottom-more:hover {
    cursor: pointer;
}

.bock-08-body-right-bottom-download {
    width: 153px;
    height: 55px;
    border: 2px solid #f16522;
    text-align: center;
    padding: 20px;    
    color: #f16522;
    font-size: 13px;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 2px;
}

.bock-08-body-right-bottom-download:hover {
    cursor: pointer;
}

.wrapper-block-09 {
    background-color: #ffffff;
}

.block-09-content {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 109px;
    padding-bottom: 65px;
}

.block-09-content-head h2 {
    color: #3d3d3d;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 25px;
}

.block-09-head-sep {
    width: 35px;
    height: 6px;
    background-color: #f16522;
    margin: 0 auto 22px;
}

.block-09-content-head p {
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px; 
    margin-bottom: 65px;
}

.block-09-content-body {
    display: flex;
    justify-content: space-between;
}

.block-09-content-body-item {
    width: 370px;
    text-align: left;
}

.block-09-content-body-item img {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: 60px;
}

.block-09-content-body-item h2 {
    color: #000000;
    font-size: 16px;
    font-weight: 600;  
}

.block-09-content-author {
    color: #8e8e8e;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 17px;
}

.block-09-blog-sep {
    width: 30px;
    height: 4px;
    background-color: #f16522;
    margin-bottom: 30px;
    margin-bottom: 19px;    
}

.block-09-content-body-item p {
    color: #3d3d3d;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 43px;
}

.block-09-blog-a {
    display: inline-block;
    text-decoration: none;
    color: #f16522;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 78px;
}

.block-09-content-bottom p {
    display: flex;
    justify-content: center;
    align-items: center;    
    color: #3d3d3d;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
}

.fa-plus {
    font-size: 9px;
}

.block-09-content-bottom p:hover {
    cursor: pointer;
}

footer {
    background-color: #e7eaed;
}

.footer-content {
    width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 57px;;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer-content-item {
    text-align: left;
    width: 270px;
}

.footer-content-item h2 {
    font-family: 'Dosis', sans-serif;
    color: #3d3d3d;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 8px;
}

.copyright {
    color: #3d3d3d;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 7px;
}

.footer-content-item a {
    text-decoration: none;
    display: inline-block;
    color: #f16522;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
}

.footer-content-item h3 {
    font-family: 'Dosis', sans-serif;
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 7px;
}

.footer-content-item p {
    color: #3d3d3d;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;    
}

.hours {
    font-weight: 600; 
}

.footer-content-item input {
    width: 270px;
    height: 45px;
    background-color: #ffffff;
    opacity: 0.3;
    color: #3d3d3d;
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 5px;
    border: none;
    border-radius: 2px;
}

.footer-content-item form {
    display: flex;
    align-items: center;
    padding-top: 8px;
}

form input[type=email]{
    padding-left: 5px;
}

.footer-content-item i {
    font-size: 20px;
    margin-left: -40px;
}

.fa-envelope {
    width: 40px;
}